<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Library Manage" name="description">
    <meta content="Library Manage" name="author">
    <title>Library Manager</title>

    <!-- Favicons-->
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">


    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }
    
    .table > tbody > tr > .no-line {
        border-top: none;
    }
    
    .table > thead > tr > .no-line {
        border-bottom: none;
    }
    
    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }

    </style>


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="invoice-title add_top_30">
                <h2>Book Info</h2>
                <h3 class="float-right"></h3>
            </div>
            <hr>

            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6 text-right">
                    <address>
                        <strong>Order Date:</strong><br>
                        june 11, 2023<br><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="add_top_15">

                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <td><strong>Book Title</strong></td>
                            <td class="text-center"><strong>Author</strong></td>
                            <td class="text-center"><strong>Quantity</strong></td>
                            <td class="text-right"><strong>Totals</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>book name</td>
                            <td class="text-center">Gokhan Basara</td>
                            <td class="text-center">1</td>
                            <td class="text-right">25</td>
                        </tr>
                        <tr>
                            <td>book name</td>
                            <td class="text-center">Ali Başara</td>
                            <td class="text-center">1</td>
                            <td class="text-right">25</td>
                        </tr>
                        <tr>
                            <td>book name</td>
                            <td class="text-center">Hakan Basara</td>
                            <td class="text-center">12</td>
                            <td class="text-right">25</td>
                        </tr>


                        <tr>
                            <td class="no-line"></td>
                            <td class="no-line"></td>
                            <td class="no-line text-center"><strong>Total</strong></td>
                            <td class="no-line text-right">75</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>


</html>